<% c.classify.constantize::SHOW_FIELDS.each do |field| %>
	<% case field[1] %>
	<% when 'normal' %>
	  <p><%= "#{field[0]} : #{o[field[0]]}" %></br></p>
	<% when 'fnormal' %>
	  <p><%= "#{field[0]} : #{ f_tabla(o).send(field[0]) }" %></br></p>
	<% end %>
<% end %>